# Pastas e ficheiros temporários
__pycache__/
*.py[cod]
*.pyo

# Base de dados local
*.db
*.sqlite3

# Virtualenvs (local)
venv/
.venv/

# Variáveis de ambiente
.env
.env.*

# Git
.git/
.gitignore

# Docker files (não precisam de estar no container)
Dockerfile
.dockerignore

# Cache/editor
*.log
*.bak
*.swp
*.tmp
*.cache/
.cache/
.idea/
.vscode/
